@import './style/variables/screen.scss';
@import './style/themes/default.scss';
@import './style/themes/light.scss';
@import './style/themes/dark.scss';
@import './style/themes/coffee.scss';

@import './style/frosted_glass.scss';
@import './style/neon.style.scss';

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  tertiaryColor: $tertiary-color;
  quaternaryColor: $quaternary-color;
}
