@import '../../../../app/globals.scss';

.infinity-horizontal-carousel {
  @apply bg-red-700;
  @apply max-w-[100%];
  @apply h-fit;

  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply justify-start;
  @apply overflow-hidden;

  ul {
    @apply py-2;
    z-index: 1;
    @apply flex;
    @apply min-w-[100%];
    @apply flex-row;
    justify-content: space-between;
    align-items: center;
    @apply bg-green-500;
    @apply px-4;
  }
}
