@import '../../../../app/globals.scss';

.infinity-horizontal-carousel {
  @apply max-w-[100%];
  @apply min-h-fit;

  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply justify-start;
  @apply overflow-hidden;

  ul {
    @apply py-2;
    z-index: 1;
    @apply flex;
    @apply min-w-fit;
    @apply flex-row;
    justify-content: space-between;
    @apply gap-20;
    align-items: center;

    @apply px-24;

    @include mobile {
      @apply min-w-fit;
      @apply px-10;
      @apply gap-10;
    }

    li {
      @apply min-w-[400px];
      @apply mt-2;

      @include mobile {
        @apply min-w-[100vw];
      }
    }
  }
}
