@import '../../../../../../app/globals.scss';

.left {
  @apply mr-[48.65%];
}

.right {
  @apply ml-[48.65%];
}

.experience-item-card {
  @apply flex;
  @apply flex-col;
  @apply h-fit;
  @apply w-[46%];
  @apply frosted-glass;
  @apply p-4;
  @apply rounded-lg;

  @include mobile {
    @apply w-full;
    @apply mr-0;
    @apply ml-0;
  }

  header {
    @apply flex;
    @apply flex-row;
    @apply items-center;

    @apply w-full;

    .header-content {
      @apply w-full;
      .line {
        width: 100%;
        height: 1px;
        background-color: black;
      }
    }

    img {
      @apply w-14;
      @apply mr-4;
    }
  }

  .description {
    @apply mt-4;
    @apply flex;
    @apply flex-col;
    @apply w-full;

    p {
      @apply mb-4;
      @apply mx-2;

      background-color: #2d313609;
      @apply p-2;
      @apply rounded-md;
      @apply text-justify;
      @apply text-sm;
    }

    button {
      align-self: end;
      @apply mr-2;
    }
  }
}
