@import '../../../../../app/globals.scss';

.vertical-line {
  width: 1px;
  height: 6rem;
  background-color: black;

  @include mobile {
    height: 16rem;
  }
}

#experience-section-container {
  display: flex;
  flex: 1;
  @apply max-w-[100vw];
  flex-direction: column;
  align-items: center;
}
