@import '../../../app/globals.scss';

#sp-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  gap: 0.1rem;
  @apply p-3;

  .numbers {
    font-size: 2rem;
    color: $secondary-color;
  }

  .sp-title {
    font-size: 1.2rem;
    color: var(--title-color);
  }

  .image-container {
    max-width: 4rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }

  .description {
    display: flex;
    align-items: center;
    justify-self: bottom;
  }
}
