@import '../../../app/globals.scss';

#sp-card {
  @apply frosted-glass;
  @apply rounded-lg;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  gap: 0.1rem;
  @apply p-3;

  .numbers {
    font-size: 2rem;
    color: $secondary-color;
  }

  .sp-title {
    font-size: 1.2rem;
    color: var(--title-color);
  }

  .description {
    display: flex;
    align-items: center;
    justify-self: bottom;
  }
}
