@import '../../../app/globals.scss';

.testimony-card {
  display: flex;
  position: relative;
  @apply flex-row;
  @apply frosted-glass-md;
  @apply p-4;
  @apply m-4;
  @apply mx-auto;
  align-items: center;
  @apply h-80;
  @apply w-[95%];
  @apply rounded-xl;

  @include mobile {
    @apply flex-col;
    @apply min-h-fit;
    @apply h-auto;
  }

  .content-block {
    @apply flex;
    @apply flex-col;
    @apply w-full;
    @apply h-full;
    @apply max-h-64;
  }
}
