@import '../../../app/globals.scss';

.testimony-card {
  display: flex;
  position: relative;
  @apply flex-row;
  @apply frosted-glass-md;
  @apply p-4;
  @apply m-4;
  @apply mx-auto;
  align-items: center;
  @apply h-[25rem];
  @apply w-[95%];
  @apply rounded-xl;

  .content-block {
    @apply flex;
    @apply flex-col;
    @apply w-full;
    @apply h-full;
  }
}
