@import '../../../globals.scss';

#i-work-with {
  z-index: 5;
  @apply bg-transparent;
  @apply flex;
  @apply flex-col;
  @apply w-screen;
  @apply h-[30vh];
  @apply min-h-44;
  max-height: 40vh;
  @apply overflow-hidden;

  @apply items-center;
  @apply justify-center;

  .title-container {
    @apply w-fit;
    @apply h-fit;
    @apply p-3;
    @apply mt-2;

    @include mobile {
      display: none;
    }

    .title {
      @apply font-bold;
      @apply text-3xl;
      @apply text-black;
      @apply text-center;

      @include tablet {
        @apply text-2xl;
      }
    }
  }

  .infinity-horizontal-carousel {
    @include mobile {
      bottom: 0;
      @apply h-fit;
      position: absolute;
      display: none;
    }

    @include tablet {
      .title {
        @apply text-xl;
      }
    }

    @apply h-[80%];
  }
}
