@import '../../../../../../app/globals.scss';

.image-container {
  max-width: 40%;

  @apply flex;

  @apply justify-center;
  @apply items-center;

  .abm-image {
    @apply rounded-2xl;
    box-shadow: 0px 0px 25px rgba(#ff7200, 0.6);
  }

  @include mobile {
    max-width: 100%;
  }
}
