@import '../../../../app/globals.scss';

.testimony-card .testimony-header {
  @apply flex;
  @apply flex-col;
  @apply h-fit;
  @apply w-full;

  @apply text-start;

  h3 {
    @apply text-4xl;
    @apply font-extralight;
    @apply ml-1;
  }

  p {
    @apply ml-2;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #000000;
  }
}
