@import '../../../../app/globals.scss';

#menu {
  display: none;
  @apply w-fit;
  @apply justify-self-end;
  @apply justify-end;
  @apply items-center;

  cursor: pointer;

  @include mobile {
    display: flex;
  }
}
