$screen-desktop: 1366px;
$screen-tablet: 1024px;
$screen-mobile: 738px;

@mixin mobile {
  @media (max-width: $screen-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $screen-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $screen-desktop) {
    @content;
  }
}
