@import '../../app/globals.scss';

#social-floating-button {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 100;

  @apply w-16;
  @apply h-16;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2em;
  color: white;

  .social-icon {
    @apply w-full;
    @apply h-full;
    @apply relative;
    @apply flex;
    @apply justify-center;
    @apply items-center;

    @apply frosted-glass;
    z-index: 50;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    box-shadow:
      0 25px 15px rgba(0, 0, 0, 0.25),
      0 25px 20px rgba(0, 0, 0, 0.1);
  }

  #close-icon,
  #share-icon {
    position: absolute;
    width: 80%;
    height: auto;
    @apply text-white;
  }

  .social-item {
    @apply absolute;
    @apply w-16;
    @apply h-16;
    z-index: -10;

    @apply frosted-glass;
    @apply rounded-full;
    @apply p-2;

    @apply cursor-pointer;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  .si-left {
    left: -70%;
    @apply text-black;
  }

  .si-right {
    right: -70%;
    @apply text-blue-500;
  }

  .si-top {
    top: -70%;
    @apply text-white;
  }

  .si-bottom {
    bottom: -70%;
    @apply text-black;
  }
}
