@import '../../../../app/globals.scss';

.article-section-item {
  @apply relative;
  @apply flex;
  @apply flex-col;
  @apply justify-between;
  @apply items-center;

  @apply frosted-glass-lg;
  @apply rounded-lg;

  @apply w-full;
  @apply h-full;
  @apply p-5;

  .title {
    @apply text-xl;
    @apply mb-2;
  }

  .description {
    @apply text-justify;
    @apply text-wrap;
    @apply break-all;
    @apply text-sm;
    @apply mb-3;
  }

  .platform-card {
    @apply text-sm;
    @apply w-fit;
    @apply rounded-sm;
    @apply pr-2;
    .platform-icon {
      @apply w-8;
    }
  }

  .article-cover {
    @apply w-full;
    @apply h-fit;
    @apply rounded-md;
    @apply mb-3;
  }

  &:hover {
    @apply transition-all;
    @apply ease-in-out;
    @apply duration-300;
    @apply scale-105;
    @apply cursor-pointer;
  }

  &:hover::before {
    opacity: 1;
  }

  @apply overflow-hidden;
  &::before {
    content: '';
    position: absolute;
    background: radial-gradient($secondary-color, transparent, transparent);
    width: 100%;
    height: 100%;
    z-index: -1;

    top: var(--y);
    left: var(--x);

    transform: translate(-50%, -50%);

    opacity: 0;

    @apply transition-opacity;
    @apply ease-in-out;
    @apply duration-300;

    @include mobile {
      display: none;
    }
  }
}
