@import '../../app/globals.scss';

#logo p {
  font-size: 1.5rem;
  font-weight: bold;

  background-image: linear-gradient(
    40deg,
    rgba(2, 0, 36, 1),
    rgba(0, 212, 255, 1) 10%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  @include desktop {
    font-size: 2rem;
  }
}
