.coffee-theme {
  --primary-color: brown;
  --primary-color-foreground: #e7e7e7;

  --secondary-color: #000;
  --secondary-color-foreground: #e7f8fb;

  --tertiary-color: #e7e7e7;
  --quaternary-color: #e7f8fb;
}
