$primary-color: #fff;
$secondary-color: #00eaff;
$tertiary-color: #e7e7e7;
$quaternary-color: #e7f8fb;

:root {
  --primary-color: #fff;
  --secondary-color: #00eaff;
  --tertiary-color: #e7e7e7;
  --quaternary-color: #e7f8fb;
}
