.light-theme {
  $primary-color: #fff;
  $secondary-color: #00eaff;
  $tertiary-color: #e7e7e7;
  $quaternary-color: #e7f8fb;
  $background-color: #f0ffff;
  $about-me-background-color: #e7f8fb;

  --primary-color: #fff;
  --primary-color-foreground: #e7e7e7;

  --secondary-color: #00eaff;
  --secondary-color-foreground: #e7f8fb;

  --secondary-color-soft: #89f7fe;

  --tertiary-color: #e7e7e7;
  --quaternary-color: #e7f8fb;

  --about-me-background-color: radial-gradient(
    #ff758cdf,
    #ff7eb3ef,
    transparent
  );
  --title-color: #225c85;
}
