.light-theme {
  $primary-color: #fff;
  $secondary-color: #00eaff;
  $tertiary-color: #e7e7e7;
  $quaternary-color: #e7f8fb;
  $background-color: #f0ffff;

  --primary-color: #fff;
  --primary-color-foreground: #e7e7e7;

  --secondary-color: #00eaff;
  --secondary-color-foreground: #e7f8fb;

  --tertiary-color: #e7e7e7;
  --quaternary-color: #e7f8fb;
}
