@import '../../app/globals.scss';

#hero .card {
  display: flex;
  flex-direction: inline;

  @apply gap-4;
  @apply rounded-lg;

  @apply p-5;
  @apply m-28;

  @apply w-fit;
  @apply h-fit;

  @apply justify-start;
  @apply items-start;

  @include mobile {
    @apply absolute;
    @apply h-fit;
    flex-direction: column;
    @apply m-5;
    @apply top-12;
  }

  @include tablet {
    @apply m-5;
  }

  @include desktop {
    @apply p-8;
  }
}
